Question no:-1

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"D:\chromedriver_winn.exe")

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [8]:
Job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [10]:
print(len(Job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':Job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,0-0 Yrs
1,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
2,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
3,Urgently required Data analyst - Microsoft Azure,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Golden Future Technologies,5-10 Yrs
4,Data Analyst,Bangalore/Bengaluru,Quotient Four Technologies,3-6 Yrs
5,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Adecco Group,5-10 Yrs
7,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
8,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
9,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs

Question no:-2

In [12]:
driver.get("https://www.naukri.com/")

In [13]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data scientist')

In [14]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [15]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [16]:
Job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [17]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [18]:
print(len(Job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [19]:
import pandas as pd
df=pd.DataFrame({'Title':Job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant,8-10 Yrs
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,10-12 Yrs
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),7-12 Yrs
5,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited,8-10 Yrs
6,"SR. SPECIALIST, DATA ANALYTICS",Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.,5-10 Yrs
7,Senior Data Scientist,Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.,5-8 Yrs
8,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies,4-8 Yrs
9,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech,11-20 Yrs

Question no:-3

In [20]:
driver.get("https://www.naukri.com/")

In [21]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data scientist')

In [22]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [24]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/p/span[1]")
location.click()

In [26]:
Job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [27]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [28]:
print(len(Job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [29]:
import pandas as pd
df=pd.DataFrame({'Title':Job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,SQL Server Developer :: MNC :: Health Care :: ...,"Delhi / NCR, Noida(Sector-2 Noida), New Delhi",Vserve Digital Solutions,2-7 Yrs
7,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
8,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs

Question no:-4

In [53]:
driver.get("https://www.flipkart.com/")

In [101]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

In [102]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [103]:
Brand_title=[]
price_title=[]
ProductDescription_title=[]

In [108]:
start=0
end=3
for page in range(start,end):
    print(page)
    
    
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:100]:
    Brand=i.text
    Brand_title.append(Brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_title.append(price)

productDescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productDescription_tags[0:100]:
    product=i.text
    ProductDescription_title.append(product)
            
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
next_button.click()

0
1
2

In [109]:
print(len(Brand_title),len(price_title),len(ProductDescription_title))

120 120 118

In [99]:
import pandas as pd
df=pd.DataFrame({'Brand':Brand_title[0:100],'Price':price_title[0:100],'ProductDescription':ProductDescription_title[0:100]})
df

        Brand Price                                 ProductDescription
0    Fastrack  ₹503   UV Protection Rectangular Sunglasses (Free Size)
1   Elligator  ₹149  UV Protection Cat-eye, Retro Square, Oval, Rou...
2    Fastrack  ₹539       UV Protection Aviator Sunglasses (Free Size)
3        SRPM  ₹149             UV Protection Wayfarer Sunglasses (50)
4   Elligator  ₹149    UV Protection Aviator, Wayfarer Sunglasses (54)
..        ...   ...                                                ...
95  Elligator  ₹293                UV Protection Round Sunglasses (54)
96  New Specs  ₹259   UV Protection Rectangular Sunglasses (Free Size)
97  Elligator  ₹149                UV Protection Round Sunglasses (53)
98      NuVew   ₹99   UV Protection, Mirrored Wayfarer Sunglasses (58)
99     Sewell  ₹281  Mirrored, Night Vision, UV Protection, Riding ...

[100 rows x 3 columns]

Question no:-5

In [80]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [81]:
Rating_title=[]
Reviewsummary_title=[]
fullreview_title=[]

In [99]:
start=0
end=3

for page in range(start,end):
    print(page)
    
    
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_2d4LTz"]')
for i in Rating_tags[0:100]:
    Rating=i.text
    Rating_title.append(Rating)

Reviewsummary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Reviewsummary_tags[0:100]:
    Review=i.text
    Reviewsummary_title.append(Review)

fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreview_tags[0:100]:
    full=i.text
    fullreview_title.append(full)
            
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
next_button.click()

0
1
2

In [100]:
print(len(Rating_title),len(Reviewsummary_title),len(fullreview_title))

10 100 100

In [101]:
print(Rating_title)

['4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6']

In [103]:
import pandas as pd
df=pd.DataFrame({'Rating':Rating_title[0:100],'Reviewsummary':Reviewsummary_title[0:100],'fullreview':Reviewsummary_title[0:100]})
df

ValueError: All arrays must be of the same length

In [ ]:
pr

Question no:-6

In [190]:
driver.get("https://www.flipkart.com/")

In [191]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [192]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [198]:
Brand_title=[]
price_title=[]
ProductDescription_title=[]

In [206]:
start=0
end=3
for page in range(start,end):
    print(page)
    
    
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:100]:
    Brand=i.text
    Brand_title.append(Brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_title.append(price)

productDescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productDescription_tags[0:100]:
    product=i.text
    ProductDescription_title.append(product)
            
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
next_button.click()

0
1
2

In [207]:
print(len(Brand_title),len(price_title),len(ProductDescription_title))

120 120 116

In [217]:
import pandas as pd
df=pd.DataFrame({'Brand':Brand_title[0:100],'Price':price_title[0:100],'ProductDescription':ProductDescription_title[0:100]})
df

,Brand,Price,ProductDescription
0,TR,₹399,Sneakers For Men
1,Shozie,₹389,"Breathable, Walking, Running, Casual,Gym Shoes..."
2,BRUTON,₹249,Canvas shoes for Men Sneakers For Men
3,SFR,₹298,Sneakers For Men
4,HRX by Hrithik Roshan,"₹1,581",Sneakers For Men
...,...,...,...
95,Bodega,"₹2,849",Real Leather Men Navy Casual Sneaker Sneakers ...
96,BIRDE,₹299,Sneakers For Women
97,PUMA,"₹1,679",Sneakers For Women
98,BIRDE,₹199,Stylish Walking Partywear Sneakers Casual Shoe...
99,Bodega,"₹2,849",Gliders Sneakers For Men

Question no:-7

In [257]:
driver.get("https://www.amazon.in/")

In [258]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys('Laptop')

In [261]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [264]:
cputype=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[7]/li[12]/span/a/span")
cputype.click()

In [265]:
Title_title=[]
Ratings_title=[]
price_title=[]

In [266]:
Title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags[0:10]:
    Title=i.text
    Title_title.append(Title)

Ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in Ratings_tags[0:10]:
    Ratings=i.text
    Ratings_title.append(Ratings)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    price_title.append(price)

In [268]:
print(len(Title_title),len(Ratings_title),len(price_title))

10 10 10

In [269]:
print(Ratings_title)

['4.1', '4.1', '4.0', '4.4', '3.3', '4.2', '4.0', '4.4', '3.9', '3.1']

In [270]:
import pandas as pd
df=pd.DataFrame({'Title':Title_title,'Ratings':Ratings_title ,'Price':price_title})
df

                                               Title Ratings     Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...     4.1    56,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...     4.1    65,250
2  (Renewed) Dell Latitude E7470 Intel Core i7 6t...     4.0    30,174
3  MSI GF75 Thin Gaming, Intel Core i7-10750H, 44...     4.4    62,990
4  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...     3.3    84,910
5  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2    82,990
6  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     4.0    95,990
7  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...     4.4    93,500
8  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...     3.9    82,990
9  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...     3.1  1,14,990

Question no:-8

In [25]:
driver.get("https://www.azquotes.com/")

In [26]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [27]:
Quote_title=[]
Author_title=[]
Typeofquotes_title=[]

In [45]:
start=0
end=3
for page in range(start,end):
    print(page)
    
Quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quote_tags[0:1000]:
    Quote=i.text
    Quote_title.append(Quote)
    
    
Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags[0:1000]:
    Author=i.text
    Author_title.append(Author)
    
    
Typeofquotes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Typeofquotes_tags[0:1000]:
    Typeofquotes=i.text
    Typeofquotes_title.append(Typeofquotes)    
    
next_button=driver.find_element(By.XPATH,'//li[@class="next"]') 
next_button.click()

0
1
2

In [46]:
print(len(Quote_title),len(Author_title),len(Typeofquotes_title))

1000 1000 1000

In [47]:
import pandas as pd
df=pd.DataFrame({'Quote':Quote_title,'Author':Author_title ,'Typr of quotes':Typeofquotes_title})
df

,Quote,Author,Typr of quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,All things are difficult before they are easy.,Thomas Fuller,"Inspirational, Motivational, Positive"
996,People ask the difference between a leader and...,Theodore Roosevelt,"Leadership, Differences, People"
997,"The thing that is really hard, and really amaz...",Anna Quindlen,"Confidence, Letting Go, Being Yourself"
998,Love is the ability and willingness to allow t...,Wayne Dyer,"Love, Anxiety, Self Improvement"
999,"Sooner or later, those who win are those who t...",Paul Tournier,"Positive, Sports, Confidence"

Question no:-9

In [35]:
driver.get("https://www.jagranjosh.com/")

In [36]:
GK=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
GK.click()

In [37]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/div/div[4]/div/div/div/form/div[2]/div/input[1]")
designation.send_keys('List of all prime minister')

In [39]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/div/div[4]/div/div/div/form/div[2]/div/input[2]")
search.click()

In [40]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div[2]/div/div[2]/div/div[1]/h2/a")
search.click()

In [41]:
Name_title=[]
BornDead_title=[]
Termofoffice_title=[]
Remarks_title=[]
index_title=[]

In [42]:
Name_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in Name_tags:
    Name=i.text
    Name_title.append(Name)

BornDead_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in BornDead_tags:
    BornDead=i.text
    BornDead_title.append(BornDead)
    
Termofoffice_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in Termofoffice_tags:
    Termofoffice=i.text
    Termofoffice_title.append(Termofoffice)
    
Remarks_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in Remarks_tags:
    Remarks=i.text
    Remarks_title.append(Remarks)
    
index_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[1]/p')
for i in index_tags:
    index=i.text
    index_title.append(index)

In [43]:
print(len(index_title),len(Name_title),len(BornDead_title),len(Termofoffice_title),len(Remarks_title))

18 18 18 18 18

In [44]:
import pandas as pd
df=pd.DataFrame({'Name':Name_title,'Born_Dead':BornDead_title,'Term':Termofoffice_title,'Remarks':Remarks_title})
df

,Name,Born_Dead,Term,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Question no:-10

In [3]:
driver.get("https://www.motor1.com/")

In [4]:
menu=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
menu.click()

In [5]:
Features=(driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/a"))
Features.click()

In [6]:
list=(driver.find_element(By.XPATH,"/html/body/div[3]/div[6]/div/a/h1"))
list.click()

In [7]:
designation=driver.find_element(By.XPATH,"/html/body/div[3]/div[6]/form/div/input")
designation.send_keys('50 most expensive cars in the world.')

In [8]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/div[6]/form/input[2]")
search.click()

In [9]:
Clickon=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
Clickon.click()

In [10]:
car_name=[]
price_title=[]

In [11]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags[0:50]:
    car=i.text
    car_name.append(car)

price_tags=driver.find_elements(By.XPATH,'//strong')
for i in price_tags[0:50]:
    price=i.text
    price_title.append(price)

In [14]:
print(len(car_name),len(price_title))

50 50

In [15]:
import pandas as pd
df=pd.DataFrame({'Car':car_name,'Price':price_title})
df

                                Car                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million